@import '../../../style/flex.scss';

.settings {
  width: 100%;
  height: 100vh;
  background-color: white;
  padding-bottom: 10px;
  overflow-x: hidden;

  header {
    @include flexJustifySB;
    padding: 0 10px;

    height: 50px;
    width: 100%;
    color: white;
    overflow: hidden;

    background-color: #535c68;

    p {
      font-size: 20px;
      font-variant: small-caps;
      font-weight: 500;
    }

    p:last-child {
      cursor: pointer;
    }
  }

  .user-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-username {
    margin: 20px 0;
    display: flex;
    flex-direction: column;

    div {
      font-size: 18px;
    }
  }

  .user-username__change,
  .user-userpassword__change,
  .user-userpassword__delete {
    @include flexCenterCenter;
    width: 100%;
    height: 50px;
    display: flex;

    margin-top: 10px;
    border-radius: 2px;
    background-color: #6ab04c;
    color: wheat;
    padding: 10px 7px;
    font-size: 18px;

    cursor: pointer;
  }

  .user-userpassword__delete {
    background-color: #eb4d4b;
    font-variant: small-caps;
    font-weight: 600;
  }

  .user-password {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    div {
      font-size: 18px;
    }
  }

  .user-avatar .show-avatars {
    @include flexJustifyCenter;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 40px;
    background-color: #535c68;
    border-radius: 20px;

    cursor: pointer;
    transition: all 0.1s;
  }

  .avatars {
    display: none;
  }

  .user-avatar__avatar {
    @include flexJustifyCenter;

    // width: 300px;

    img {
      cursor: pointer;
      width: 70px;
      height: 70px;
    }
  }

  .user-avatar__avatars {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    border: 2px solid #535c68;
    border-radius: 10px;

    padding: 5px;

    p {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }

    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    // background: transparent;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
  }

  input + input {
    margin-top: 10px;
  }

  .user-username__login-input {
    background-color: #535c68;
    color: white;
    height: 40px;
    border: none;
  }
}

// @media (max-width: 600px) {
//   .settings {
//     overflow-y: auto;
//     // overflow-x: hidden;
//   }
// }
