@import '../../../style/colors.scss';

.chat-body .users {
  min-width: 220px;
  height: 100%;
  // margin: 0 5px;

  background-color: #212121;
  border-top: 1px solid black;
}

.group {
  position: relative;
  height: 50px;
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  background-color: $user-background-color;
  padding: 5px 5px;

  cursor: pointer;
  font-variant: small-caps;

  .group-avatar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 37px;
    height: 37px;
    background-color: $user-avatar-background-color;
    border-radius: 50%;

    color: white;
  }

  .group-count {
    // height: 30px;
    position: absolute;
    right: 10px;
    top: calc(50% - 20px);
    font-size: 30px;
    font-weight: 700;
  }
}

.user {
  position: relative;
  width: 210px;
  margin-left: 5px;
  height: 70px;
  color: balck;
  // background-color: #212121;
  border-radius: 3px;

  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 5px;
  padding: 5px;

  background-color: $user-background-color;
  color: white;
  font-size: 17px;

  cursor: pointer;

  .user-name {
    position: absolute;
    left: 70px;
    top: 5px;
    font-size: 18px;
    font-weight: 500;
  }

  .user-lastmessage {
    position: absolute;
    left: 70px;
    bottom: 5px;
    font-size: 14px;
    font-style: italic;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.user.user-active {
  background-color: $user-active-background-color;
}

.user .user-online::after {
  position: absolute;
  content: 'on';
  right: 7px;
  top: 0;
  font-size: 14px;
  color: #badc58;
  font-style: italic;
}

.user .user-offline::after {
  position: absolute;
  content: 'off';
  right: 7px;
  top: 0;
  font-size: 14px;
  color: #eb4d4b;
  font-style: italic;
}

.user .new-message {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #f39c12;
  right: 7px;
  bottom: 7px;
  border-radius: 50%;
}
