@font-face {
  font-family: 'B612';
  font-style: normal;
  font-weight: normal;
  src: local('../assets/fonts/B612/B612-Regular.ttf');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: normal;
  src: local('../assets/fonts/cairo/Cairo-VariableFont_slnt,wght.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  width: 100%;
  height: 100vh;

  font-family: 'B612', sans-serif;
}

#root {
  height: 100vh;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #111;
  overflow: hidden;
}
