$header-background-color: #eb4d4b;

$user-background-color: #212121;
$user-avatar-background-color: #f9ca24;
$user-active-background-color: #8774e1;

$message-from-myself: #95afc0;
$message-from-another-user: #535c68;

$backfround-color-chat-form: #292730;
$backfround-color-edit-divider: #8774e1;
