header {
  padding-left: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #212121;
  color: white;

  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

header span {
  margin: 0 10px;
}

header span::after {
  content: '>';
}
