header {
  padding-left: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #c0392b;
  color: white;
}

header span {
  margin: 0 10px;
}

header span::after {
  content: '>';
}
