@import './colors.scss';

.chat-messages {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .messages-container {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    max-width: 700px;
    height: calc(100% - 50px);
    padding: 0 10px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
  }

  .messages-container .message {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;

    .message-user {
      font-weight: 500;
    }

    .message-user::after {
      content: ':';
    }

    .message-text {
      margin-left: 10px;
    }
  }

  .messages-container .message.right {
    justify-content: flex-end;
    margin-left: auto;
    background-color: $message-from-another-user;
    // background-color: #3498db;
    color: white;
  }

  .messages-container .message.left {
    justify-content: flex-start;
    margin-right: auto;
    background-color: $message-from-myself;
    // background-color: #2ecc71;
    color: white;
  }
}

.messages-container::-webkit-scrollbar {
  width: 7px;
}

// .chat-messages::-webkit-scrollbar-track {
// background-color: darkgrey;
// }

.messages-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.bg {
  position: absolute;
  background-image: url('../assets/background-mage-1.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
