.change-form {
  /* position: relative; */
  /* width: 160px; */

  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.change-form div {
  padding: 5px 10px;
  border: 1px solid silver;
  cursor: pointer;
}

/* .change-form span {
  position: absolute;
  left: 0;
  top: 0;
} */

.change-form__active {
  background-color: #2ecc71;
  color: white;
}

.registration-form div {
  margin: 20px auto;

  width: 500px;
  display: flex;
  flex-direction: column;
}

.registration-form div input {
  margin-bottom: 10px;
}
