@import '../../../style/colors.scss';
@import './time.scss';

.chat-messages {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .messages-container {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    max-width: 700px;
    height: calc(100% - 60px);
    padding: 0 10px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
  }

  .messages-container .message {
    position: relative;
    display: flex;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;

    max-width: 300px;
    font-size: 17px;
    color: white;

    .message-user {
      font-weight: 500;
    }

    .message-time {
      position: absolute;
      font-size: 12px;
      display: flex;
      align-items: center;
      bottom: 5px;
      right: 5px;
      color: #dff9fb;
      font-weight: 500;
    }

    .message-like__button {
      visibility: hidden;
      position: absolute;
      bottom: -20px;
      width: 25px;
      height: 25px;

      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }

      &.sender {
        right: 5px;
      }

      &.reciever {
        left: 5px;
      }
    }

    .message-like__view {
      position: absolute;
      top: 0;
      width: 20px;
      height: 20px;

      img {
        width: 100%;
        height: 100%;
      }

      &.sender {
        top: -5px;
        left: -5px;
      }

      &.reciever {
        top: -5px;
        right: -5px;
      }
    }

    .message-like__count {
      position: absolute;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;

      &.sender {
        top: -5px;
        left: -5px;
      }

      &.reciever {
        top: -5px;
        right: -5px;
      }
    }
  }

  .messages-container .message:hover {
    .message-like__button {
      visibility: visible;
    }

    .message-settings__container {
      visibility: visible;
    }
  }

  .message.theme {
    background-image: linear-gradient(to bottom, #d4a241, #ef4b42, #8b599e);
    background-size: 100vw 100vh;
    background-position-y: 100vh;
    background-attachment: fixed;
  }

  .messages-container .message.sender {
    border-bottom-right-radius: 0;
  }

  .messages-container .message.receiver {
    border-bottom-left-radius: 0;
  }

  .messages-container .message.sender::before {
    @include showTime;
    @include timeForSender;
  }

  .messages-container .message.receiver::before {
    @include showTime;
    @include timeForReceiver;
  }

  .messages-container .message:hover::before {
    opacity: 0.7;
  }

  .message.sender {
    justify-content: flex-end;
    margin-left: auto;
    background-color: $message-from-another-user;
  }

  .message.receiver {
    justify-content: flex-start;
    margin-right: auto;
    background-color: $message-from-myself;
  }
}

.messages-container::-webkit-scrollbar {
  width: 7px;
}

.messages-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.bg {
  position: absolute;
  background-image: url('../../../assets/images/backgrounds/background-mage-1.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
